.header {
    width: 459px;
    text-align: left;
    font-weight: 700;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 459px;
    margin-bottom: 10px;
    font-size: 18px;

    .toggle-btn {
        height: 48px;
        width: 100%;
        background-color: transparent;
        font-size: inherit;
        cursor: pointer;
        border: 1px solid #004B88;
        color: #004B88;
        text-align: left;
        padding: 0px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .reference-btn {
            margin: 10px;
            background-color: white;
            border: 1px solid #018176;
            color: #018176;
            border-radius: 1px;
            font-size: 14px;
            padding: 2px;
        }
        .title-content{
            .tag-container {
                display: flex;
                justify-content: flex-start;
                span {
                    margin-top: 5px;
                    font-size: 14px;
                    padding: 5px;
                    background: #006278;
                    color: white;
                    border: 1px solid #006278;
                    border-radius: 1px;
                    font-weight: 700;
                }
            }
            h4 {
                margin: 0;
            }
        }
    }

    .adviser-btn {
        height: unset;
    }

    .content {
        border: 1px solid #004B88;
        border-top: none;
        text-align: left;
        font-size: inherit;
        padding: 12px 16px;

        .close-btn {
            border: none;
            background-color: transparent;
            text-decoration: underline;
            color: #004B88;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.adviser {
    background: #E6EFF2;
}

@media screen and (max-width: 1026px) {
    .wrapper {
      width: 288px;
    }
  
    .text-container {
      height: 100%;
    }
  
    .toggle-btn { 
      height: 72px;
    }
  }